{{define "chart-page"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    
    <link rel="stylesheet" href="/assets/styles/base.css">
    <link rel="stylesheet" href="/assets/styles/chart.css">
    <link rel="stylesheet" href="/assets/styles/statistics.css">
    <link rel="stylesheet" href="/assets/styles/utilities.css">
    
    <script src="/assets/scripts/vendor/echarts.min.js"></script>
    <script src="/assets/scripts/chart.js"></script>
</head>
<body class="chart-page-body">
    {{template "chart" .}}
</body>
</html>
{{end}}
